.chat-item {
    width: 100%;
    padding: 1.5rem 0;
    background-color: rgb(50, 50, 50)
}

.chat-item.owner {
    background-color: rgb(20, 20, 20);
}

.chat-item-wrapper {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.chat-item-avatar {
    width: 2rem;
}

.chat-item-avatar img {
    display: block;
    width: 100%;
    height: 2rem;
    border-radius: 0.1875rem;
}

.chat-item-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}